/* seleciona todos os elementos */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}


/* seleciona qualquer elemento que estiver dentro
de um elemento que contenha o id minhadiv */
#minhadiv * {
    color: blueviolet;
}

/* seleciona todos os <p> que estiverem dentro de uma <div> */
div p {
    border-left: 5px solid black;
    padding-left: 10px;
}

/* seleciona todos os <p> que forem filhos diretos de uma <div> */
div > p {
    border-bottom: 5px solid black;
}

a[href] {
}

a[href="https://novo.uncisal.edu.br"] {
    font-size: 30px;
}

textarea[name="nome"] {
    background-color: cadetblue;
}

/* seleciona somento todos os <p> que aparecem
imediatamente após um <h1> */
h1 + p {
   border-right: 5px solid black;
}

/* seletor de tags */
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #222222;
}

h1.titulo {
    border-bottom: 1px dotted darkgray;
    font-size: 40px;
}

h1.subtitulo {
    font-size: 30px;
}

h1#cabecalho {

}

.bgcinza {
    background-color: lightgrey;
}

.azul {
    color: blue;
}

#vermelho {
    color: red;
}

h1, h4 {
    color: red;
}

/* a { */
/*     color: #888; */
/* } */

a:link {
    color: white;
    font-weight: bold;
    background-color: #000099;
    padding: 3px;
    border-radius: 5px;
    border-bottom: 5px solid red;
}

a:visited {
    color: pink;
    /* Por que não dá para mudar o tamanho da fonte só para visited?? */
    border-bottom: 5px solid green;
}

a:hover {
    color: red;
    background: #000044;
}

a:not(#uncisal) {
    border-right: 5px solid red;
}

p::first-letter {
    font-size: 50px;
}

li:nth-child(1) {
    color: green !important;
    font-size: 40px;
}

/* :not(.pontilhado) { */
/*     color: darkgray; */
/* } */

/* *:not(p) { */
/*     color: darkgray; */
/* } */



